
.title {
  color: blue;
}
.title-bottom{

  width: 100%;
}
.text-main{
  width: 100%;
  overflow: hidden;
}

.con-left{
  border: solid gainsboro 1px;
  float: left;
}

.left{
  padding: 0 500px 0 0 ;
}

.font{
  padding: 0 0 8% 8%;
}

.top-category{
  padding: 0 0 20px 0 ;
}
.category{
  font-size: 20px;
  border-bottom: 1px solid gainsboro;
}
